<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:include="fragments/head :: head"
      th:with="metaTitle = ${metaTitle}, script = ${script}, css = ${css}"></head>
<body>
<div id="content container">
    <header th:include="fragments/header :: header"></header>
    <div id="append_table"></div>
    <div id="append_page_number"></div>
    <button id="take_json_data">Take some data from ajax</button>
    <button id="generate_json_data">your data</button>
    <button id="new_page">new page</button>
    <footer id="myFooter" th:include="fragments/footer :: footer"></footer>
</div>
</body>
</html>