<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:include="fragments/head :: head"
      th:with="metaTitle = ${metaTitle}, script = ${script}, css = ${css}"></head>
<body>
<div id="content">
    <header th:include="fragments/header :: header"></header>
    <div  style="height: 500px;margin:15px 0 15px 0">
        <table id="data_table"><!-- input in table id: tab_rowcolumn --></table>
    </div>
    <button id="take_json_data">Take some data from ajax</button>
    <button id="generate_json_data">your data</button>
    <footer id="myFooter" th:include="fragments/footer :: footer"></footer>
</div>
</body>
</html>