<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:include="fragments/head :: head" th:with="metaTitle = ${metaTitle}, css = ${css}"></head>
<body>
<div id="content container">
    <header th:include="fragments/header :: header"></header>
    <div id="append_table"></div>

    <div class="my-pagination-container wow zoomIn mar-b-1x" data-wow-duration="0.5s" onselectstart="return false">
        <button id="start-btn">Start</button>
        <ul class="my-pagination" id="my-pagination-ul-1">
            <li class="my-pagination-item--wide first cursor-point"><span
                    class="my-pagination-link--wide first  pdr-1d2">Previous</span></li>
            <li class="my-pagination-item--wide last cursor-point" id="append_page_number"><span
                    class="my-pagination-link--wide last">Next</span></li>
        </ul>
    </div>
    <div th:include="fragments/tool :: popup"></div>
    <script th:inline="javascript">
        /*<![CDATA[*/
        let projectName = /*[[${projectName}]]*/'';
        /*]]>*/
    </script>
    <footer id="myFooter" th:include="fragments/footer :: footer" th:with="script = ${script}"></footer>
</div>
</body>
</html>