/*****table head fix in top*****/
table {
    width: 50%;
}

thead, tbody, tr, td, th {
    display: block;
}

thead th {
    height: 42px;
}

tbody {
    overflow-y: auto;
    height: 493px;
}

tbody td, thead th {
    float: left;
    width: 20%;
}

tr:after {
    clear: both;
    content: ' ';
    display: block;
    visibility: hidden;
}

/*****table head fix in top*****/

/********滾動條**********/
::-webkit-scrollbar {
    width: 12px;
}

::-webkit-scrollbar-track {
    border-radius: 10px;
}

::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background: rgba(0, 0, 0, 0.1);
}

::-webkit-scrollbar-thumb:window-inactive {
    background: rgba(255, 0, 0, 0);
}

/********滾動條**********/
button, input, select {
    border: 1px solid #2e36445c;
    border-radius: 4px;
}

button:focus, input:focus, select:focus {
    outline: none;
    border: 1px solid #3f88ff;
    border-radius: 4px;
}

td > span {
    word-wrap: break-word;
}

.table tr:focus {
    outline: none;
}

.table thead th {
    border-top: none;
    border-bottom: 1px solid #1b1e2175;
}

.table tbody {
    border-bottom: 1px solid #dee2e6;
}

tr th, tr td {
    width: 22%;
}

tr th:first-child, tr td:first-child {
    width: 12%;
}

tbody tr:last-child {
    border-bottom: 1px solid #dee2e6;
}

.w1rem {
    opacity: 0.5;
    width: 1rem;
}

.w1d4rem {
    opacity: 0.5;
    width: 1.4rem;
}

.margin-l1-r1 {
    margin: 0 1rem 0 1rem;
}

.padding-ld6 {
    padding-left: .6rem;
}

.padding-rd6 {
    padding-right: .6rem;
}

.img-hover-opa1:hover img {
    opacity: 1;
}

.focusNow {
    border: .5px solid #007bff91 !important;
    background-color: rgba(0, 0, 0, .075);
}

.hide {
    display: none;
}

.hide-even-span span:nth-child(even) {
    display: none;
}

.hide-odd-span span:nth-child(odd) {
    display: none;
}

#append_table {
    margin: 3px 0 15px 0;
    height: 520px;
}

.un-selectable {
    -moz-user-select: -moz-none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.page-active, .page-active:hover {
    background-color: #6c757d;
}

.page-active .my-pagination-link, .page-active .my-pagination-link:hover {
    color: #fbffff;
}

.pdr-1d2 {
    padding-right: 1.2em;
}

.cursor-point {
    cursor: pointer;
}

.text-right {
    text-align: right;
}

.take_json_data {
    border: 1px solid black;
    border-radius: 4px;
    text-align: right;
    font-size: 1.2rem;
    padding: .75rem 0 .75rem 0;
    margin: 0 0 .75rem 0;
}

#start-btn {
    position: absolute;
    right: 7rem;
    bottom: 1.2rem;
    font-size: 1rem;
    width: 7rem;
    height: 1.8rem;
    border-radius: 12px;
}

#my-pagination-ul-1 {
    margin-right: 3.2%;
}

.modal-inset {
    border-radius: 16px;
}

.modal-body {
    background-color: #91f9b626;
}

.modal-body input {
    border-radius: 0;
    background-color: #00ff7200;
}

 .popFocusNow {
    background-color: #3dcc6f96;
}