<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:include="fragments/head :: head" th:with="metaTitle = 'E2E Index'"></head>
    <body>
        <div id="content">
            <header th:include="fragments/header :: header" ></header>
            <!--/*@thymesVar id="msg" type="java.lang.String"*/-->
            <h1 th:text="${msg}"></h1>
            <!--/*@thymesVar id="options" type="java.util.List"*/-->
            <form style="height: 450px">
                <label>
                    <select id="sample">
                        <option>please order project</option>
                        <option th:each="data , iter :  ${options}" th:text="${iter.index}+'.'+${data}"></option>
                    </select>
                </label>
                <button style="margin-left: 20px" type="submit">submit</button>
            </form>
            <footer id="myFooter" th:include="fragments/footer :: footer"></footer>
        </div>
    </body>
</html>