<html lang="en" xmlns:th="http://www.thymeleaf.org">
<div th:fragment="header">
    <nav class="navbar navbar-dark bg-dark navigation-clean-button navbar-expand-md header-nav">
        <div class="container"><a class="navbar-brand" href="#">IISI-ETE</a>
            <button class="navbar-toggler collapsed"
                    data-toggle="collapse" data-target="#navcol-1"><span class="sr-only">Toggle navigation</span>&#x2630;
            </button>
            <div class="collapse navbar-collapse"
                 id="navcol-1">
                <ul class="nav navbar-nav">
                    <li class="nav-item" role="presentation"><a href="#" class="nav-link hover-blueGreen">First Item</a>
                    </li>
                    <li role="presentation" class="nav-item"><a href="#" class="nav-link hover-blueGreen">Second Item</a>
                    </li>
                    <li class="dropdown nav-item"><a class="dropdown-toggle nav-link hover-blueGreen" data-toggle="dropdown"
                                                     aria-expanded="false"
                                                     href="#">Dropdown <span class="caret"></span></a>
                        <ul class="dropdown-menu"
                            role="menu">
                            <li role="presentation" class="dropdown-item"><a href="#">First Item</a>
                            </li>
                            <li role="presentation" class="dropdown-item"><a href="#">Second Item</a>
                            </li>
                            <li role="presentation" class="dropdown-item"><a href="#">Third Item</a>
                            </li>
                        </ul>
                    </li>
                </ul>
                <p class="navbar-text ml-auto actions"><a class="navbar-link login" href="#">Log In</a> <a
                        class="btn btn-secondary action-button"
                        role="button" href="#">Sign Up</a>
                </p>
            </div>
        </div>
    </nav>
</div>
</html>